@import "../global.scss";

@media only screen and (max-width: 600px) {
  .addNewExpenseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 75vw;
    background: white;
    box-shadow: $boxShadow;
    z-index: 10;
    padding: 5px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    &:hover {
      cursor: $cursorPointer;
    }
  }
}
