@import "../global.scss";

@media only screen and (max-width: 600px) {
  .dates-container,
  .datesHeader,
  .controls {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .dates-container {
    justify-content: center;
    .datesHeader {
      justify-content: space-between;
      flex-direction: column;
      .controls {
        justify-content: space-between;
      }
      .currentDateContainer {
        padding: 10px;
        margin-top: 10px;
        background: #00f;
        color: white;
        width: 90%;
        border-radius: 50px;
        text-align: center;
        transition: $transition;
        &:hover {
          cursor: $cursorPointer;
          background: rgb(62, 62, 245);
        }
      }
    }
  }
}
