@import "../global.scss";

@media only screen and (max-width: 600px) {
  .expenses-container {
    margin-top: 20px;
    .no-expenses-container {
      span {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}
