@import "../global.scss";

@media only screen and (max-width: 600px) {
  .expensesContainer {
    background: $clrBackgroundContainer;
    border-radius: $containerBorderRadius;
    margin: 10px;

    .noExpensesContainer {
      span {
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
}
