@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$boxShadow: 1px 1px 2px 2px #e0e0e0;

$cursorPointer: pointer;
$transition: 0.5s all;

$clrDarkRed: rgb(212, 0, 0);
$clrLightGray: rgb(230, 230, 230);
$clrBackgroundBody: #121212;
$clrBackgroundContainer: #1e1e1e;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  color: $clrLightGray;
}

@media only screen and (max-width: 500px) {
  .container {
    background: $clrBackgroundBody;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .roundButtonSmall {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: $cursorPointer;
      box-shadow: $boxShadow;
    }
    .dates-container {
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      background: $clrBackgroundContainer;
    }
  }
}
